@using Model.Configuration
@using Microsoft.EntityFrameworkCore
@using View.Components.Sidebar
@using Domain.Services
@using System.Diagnostics
@inject GreatPowersDbContext GreatPowersDbContext
@inject SidebarService SidebarService
@inject DockerService DockerService

<style>
    .nav-item {
        display: block;
    }
</style>

<div>
    <div class="nav-item px-3">
        <MudLink class="nav-link gold-texture p-0 text-center logo-container" Href="/">
            <span class="gold-texture logo">Great Powers</span>
        </MudLink>
    </div>
    <nav class="flex-column">
        @foreach (var item in SidebarService.Items){
            <div class="nav-item p-3">
                @if (item.OnClick is not null){
                    <MudLink class="nav-link gold-texture p-0" @onclick="@item.OnClick">
                        @if (item.Icon is not ""){
                            <span class="oi oi-@item.Icon" aria-hidden="true"></span>
                        }
                        <span class="gold-texture">@item.Name</span>
                    </MudLink>
                }
                else{
                    <MudLink class="nav-link gold-texture p-0" Href="@item.Link">
                        @if (item.Icon is not ""){
                            <span class="oi oi-@item.Icon" aria-hidden="true"></span>
                        }
                        <span class="gold-texture">@item.Name</span>
                    </MudLink>
                }
            </div>
        }
        <div class="nav-item p-3 position-absolute bottom-0">
            <MudLink class="nav-link gold-texture p-0" @onclick="@ExitApp">
                <span class="gold-texture">Exit</span>
            </MudLink>
        </div>
    </nav>
</div>

@code {

    protected override void OnInitialized(){
        SidebarService.HandleSidebarChange += HandleSidebarChange;
    }

    private async void HandleSidebarChange(){
        await InvokeAsync(StateHasChanged);
    }

    private void ExitApp(){
        DockerService.StopDockerContainer();
        GreatPowersDbContext.Dispose();
        Environment.Exit(0);
    }

}